
/*

  INSTRUCTIONS ---------------------------------------------------------------------------------
  
  1. Add this stylesheet to the <head> of your pages
     <link href="YOUR PATH/my-style.css" rel="stylesheet" type="text/css" />
     
  2. Use the file name as data-dd-theme attribute on your datedropper elements
     <input data-dd-theme="my-style" />
     
*/


div.datedropper.my-style {

  --dd-color1: #000;
  --dd-color2: #FFF;
  --dd-color3: #000;
  --dd-color4: #fff;

  --dd-radius: 16px;
  --dd-width: 160px;
  --dd-shadow: 0 0 64px 0px rgba(0, 0, 0, 0.26);

}

